.login-page {
    height: 87%;
    background-color: #303F9F;
    overflow: hidden;
  }
  
  mat-card {
    width: 30%;
    margin: 1% auto;
    border-radius: 8px;
  }
 
  mat-card-content {
    margin-top: 20px;
  }
  
 