
   :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87%;
    background-color: #303F9F;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  
  
  
  
  
  
  